/* Global app styles */

:root {
  --colorNeutral: #F0E8EB;
  --colorPink: #FEADD9;
  --colorGreen: #00FF94;
  --colorBlue: #68E4FF;
  --colorPurple: #7d007b;
  --colorOverlay: rgba(0, 0, 0, 0.5);
  --defaultRadius: 2em;
  --nodeHeight: 6em;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: var(--colorNeutral);
  background-color: var(--colorPurple);
  font-size: 12px;
}

@keyframes pulsateSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsateOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}